extends layout

block content
    h1= myTitle
    h3 This is Version 1.0 -- Insert and Delete functionality
    form(method='post' action='/insert' id='inputform')
        fieldset
            legend Data Entry
            table(cellspacing='5')
                tbody
                    tr
                        td
                            label New data to log:
                        td
                            input(type='text', name='data' autofocus size='40' maxlength='200')
                    tr
                        td(cosplan='2')
                            input(type='submit', value='Submit Data')
    form(method='post' action='/delete' id='deleteform')
        fieldset
            legend Data Deletion
            table(cellspacing='5')
                tbody
                    - var n = 1;
                    each myRow in myData
                        tr
                            td
                                input(type='radio', name='selection', value= myRow.demo_key, form='deleteform')
                            td= n++
                            td= myRow.demo_logitem
                            td= myRow.demo_datetime
                    tr
                        td(colspan='4')
                            input(type='submit', value='Delete Selected Row')
